.contact_form{
    display:flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    align-self: center;
}
.contact_form input{
    margin: 10px;
}
#contact_message{
    height: 300px;
}
.contact_btn{
    width: 100px;
    align-self: end;
    background-color: rgb(199, 203, 255);
}
