/*
navbar
header
Projects
Skills
About
Contact
*/

*{ 
    color: rgb(24, 114, 117);
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(32, 31, 46);
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between;
}
section{
    background-color: transparent;
    margin-bottom: 200px;
}
h2{

    font-family: Verdana, Tahoma, sans-serif;
    margin: 50px 0px;
}
.back-rect{
    background-image: linear-gradient(rgba(0, 0, 20, 0.6),rgba(0, 0, 20, 9)), url("./docs/img/Coding.jpg");
    background-color: rgb(45, 44, 65);
    height: 80vh;
    width: 100vw;
}
.header-text{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 100;
    position: absolute;
    top: 75%;
    left: 20%;
    background-color: #ffffff00;
}
nav{
    display: flex;
    height: 50px;
    background-color: rgb(6, 3, 26);
    margin: 0px 0px;
    border: 1px solid black;
}
.navbar{
    justify-self: flex-start;
    border: 2px solid purple;
}
.navbar li{
    display: inline-block;
    text-decoration: none;
    margin: 10px 30px;
}
.logobar{
    justify-self: flex-end;
    border: 2px solid red;
}
.logobar li{
    display: inline-block;
    text-decoration: none;
    margin: 0px 30px;
    /* border: 1px solid black; */
    padding: 10px;
}
.logobar li:hover{
    background-color: rgb(5, 3, 20);
}
footer{
    height: 50px;
    background-color: rgb(6, 3, 26);
}