/*
navbar
header
Projects
Skills
About
Contact
*/

*{ 
    color: rgb(24, 114, 117);
}
body{
    background-color: rgb(32, 31, 46);
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9)), url("Coding.jpg");
    background-size: cover;
    background-position: center;
    height: 85vh;
}
section{
    background-color: transparent;
    margin-bottom: 200px;
}
h2{

    font-family: Verdana, Tahoma, sans-serif;
    margin: 50px 0px;
}
.back-rect{
    background-color: rgb(45, 44, 65);
    box-shadow: 10px 0px 10px #111, -10px  0px 10px #111;
    margin: 0px 5%;
    padding: 10px 10px;
}
.header-text{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 100;
    position: absolute;
    top: 75%;
    left: 20%;
    background-color: #ffffff00;
}
nav{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 70px;
    background-color: rgb(6, 3, 26);
    margin: 0px 0px;
    border: 1px solid black;
}
.navbar li{
    display: inline-block;
    text-decoration: none;
    margin: 10px 30px;
    grid-column-start: 1;
    grid-column-end: 2;
}
.logobar{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: right;
}
.logobar li{
    display: inline-block;
    text-decoration: none;
    margin: 10px 40px;
}
.project-box1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 3px solid rgb(24, 114, 117);
    border-radius: 10%;
    margin: 10px 10px;
}
.project-box2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 3px solid rgb(24, 114, 117);
    border-radius: 10%;
    margin: 10px 10px;
}
.prev_projects{
    font-size: 200%;
    justify-self: center;
    border: 3px solid rgb(24, 114, 117);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}
.next_projects{
    font-size: 200%;
    justify-self: center;
    border: 3px solid rgb(24, 114, 117);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}
.projects_sec{
    border: 3px solid rgb(24, 114, 117);
}
.about-text{
    text-justify: auto;
    font-family: Verdana, Tahoma, sans-serif;
}
.contact-icons{
    font-family: Verdana, Tahoma, sans-serif;
    
}
.projects_sec{
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 50% 50%;
    height: 300px;
}