@keyframes icon_hover_in{
    0%{
        filter: grayscale(100%);
    }
    50%{
        filter: grayscale(20%);
    }
    100%{
        filter: grayscale(0%);
    }
}
@keyframes icon_hover_out{
    0%{
        filter: grayscale(0%);
    }
    50%{
        filter: grayscale(80%);
    }
    100%{
        filter: grayscale(100%);
    }
}

.skills_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    width: 50vw;
    img{
        width: 50px;
        filter: grayscale(100%);
        transition: transform 1s ease 0s;
    }
}
.project_list{
    overflow: auto;
    box-shadow: inset 0 0 5px 2px black;
    width: 95vw;
    margin: 20px;
    scrollbar-color: $main_text_color $back_color2;
    .project_item{
        display: grid;
        margin: 10px;
        border: 2px solid black;
        border-radius: 22px;
        justify-items: stretch;
        .project_img{
            border-radius: 20px;
            border: 2px solid black;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .project_description{
            justify-self: center;
            a{
                margin: 10px;
            }
        }
    }
}