$main_text_color: #d6f2f8;
$back_color1: rgb(32, 31, 46);
$back_color2: rgb(6, 3, 26);

// $font_title: 'Oswald';
$font_title: 'Orbitron';

// $main_text_color: #081e24;
// $back_color1: rgb(141, 137, 201);
// $back_color2: rgb(110, 105, 143);

// $main_text_color: #08241e;
// $back_color1: rgb(202, 164, 81);
// $back_color2: rgb(116, 89, 46);

// $main_text_color: rgb(245, 252, 216);
// $back_color2: rgb(146, 205, 63);
// $back_color1: rgb(5, 53, 29);